<section class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="heading-wrapper">
        <h1 class="text-uppercase fw-bold" [innerHTML]="'TOUR.TITLE' | translate"></h1>
        <hr class="opacity-100 hr1"/>
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="row">
        <div class="col-md-11 col-lg-8 mx-auto"><ng-container *ngFor="let concert of concerts"><div class="row g-0" [ngClass]="{ 'past-concert': isPast(concert.date) }">
          <div class="col-4">
            <div class="cell-block">
              <span class="cell-text">{{ concert.date }}</span>
            </div>
          </div>
          <div class="col-4">
            <div class="cell-block">
              <span class="cell-text">{{ concert.place }}</span>
            </div>
          </div>
          <div class="col-4">
            <div class="cell-block text-end text-md-start"><ng-container *ngIf="!isPast(concert.date) && concert.urlTicketSale; else noLink">
              <a [href]="concert.urlTicketSale" target="_blank" class="cell-text" [innerHTML]="'TOUR.LINK.TICKETS' | translate"></a>
            </ng-container><ng-template #noLink>
              <span class="cell-text no-link-text" [innerHTML]="'TOUR.LINK.TICKETS' | translate"></span>
            </ng-template>
            </div>
          </div>
        </div>
          <hr class="opacity-100 cell-line"/>
        </ng-container>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="text-center h2-block">
        <h2 class="fw-bold" [innerHTML]="'TOUR.DESCRIPTION.TITLE' | translate"></h2>
        <hr class="opacity-100 hr2 mx-auto"/>
      </div>
      <div class="custom-padding lh-lg text-justify">
        <p [innerHTML]="'TOUR.DESCRIPTION.P1' | translate"></p>
        <p [innerHTML]="'TOUR.DESCRIPTION.P2' | translate"></p>
        <p [innerHTML]="'TOUR.DESCRIPTION.P3' | translate"></p>
      </div>
    </div>
    <div class="col-12 text-center banner-alert h3-block">
      <h3 class="fw-bold" [innerHTML]="'TOUR.BANNER' | translate"></h3>
    </div>
  </div>
</section>
