section {
  margin-top: 10.5rem;
  color: #ffffff;
  font-family: Arial;
}

h1 {
  color: #ffffff;
}

hr {
  border: none;
}

.hr1 {
  height: 6px;
  background-color: #E9BF43;
  width: 160px;
}

.profile-card {
  background-color: #0F0911;
  border: 2px solid #E9BF43;
  border-radius: 10px;
  padding: 2rem;
  color: #ffffff;
}

.section-title {
  color: #E9BF43;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section-block {
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid #E9BF43;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.custom-input {
  background-color: #171717;
  color: #ffffff;
  border: 1px solid #E9BF43;
}

.custom-input::placeholder {
  color: #bbb;
}

.custom-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(233, 191, 67, 0.25);
}

.custom-btn {
  background-color: #0F0911;
  border: 1px solid #E9BF43;
  color: #E9BF43;
  box-shadow: 0 1px 8px #ffffff;
}

.custom-btn:hover {
  background-color: #7A8288;
  border-color: #353535;
  color: #353535;
}

.btn-address {
  background-color: #0F0911;
  border: 1px solid #E9BF43;
  color: #E9BF43;
  box-shadow: 0 1px 8px #ffffff;
  border-radius: 20px;
}

.btn-address:hover {
  background-color: #7A8288;
  color: #353535;
  border-color: #353535;
}

.form-check-input {
  background-color: #0F0911;
  border: 3px solid #E9BF43;
}

.form-check-input:checked {
  background-color: #E9BF43;
  border-color: #E9BF43;
}
