<section class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="heading-wrapper custom-padding-bottom">
        <h1 class="text-uppercase fw-bold">Política de Privacidad</h1>
        <hr class="opacity-100 hr1" />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="custom-padding lh-lg text-justify">
        <div class="h2-block">
          <h2 class="fw-bold">Responsable del Tratamiento</h2>
        </div>
        <p>A través de la presente política de privacidad se informan de los distintos tratamientos de
          datos personales e información asociada que se lleva a cabo por parte de 13PROMUSIC como marca
          de EMPTYSTAVE MUSIC RECORDS LTD, la cual presta servicios dentro del territorio de la UE, de ahí
          la presente política de privacidad dando cuumplimiento con ello a las directrices determinadas
          en el Reglamento Europeo de Protección de datos.</p>
        <p>En este sentido, la identificación del responsable del tratamiento a todos los efectos es la siguiente:</p>
        <ul>
          <li>Denominación: EMPTYSTAVE MUSIC RECORDS LTD</li>
          <li>Id Fiscal: 60091184X</li>
          <li>Domicilio: EFESOU 9, PARALIMNI, 5280,FAMAGUSTA, CYPRUS</li>
          <li>Correo de contacto: emptystave&commat;gmail.com</li>
        </ul>

        <div class="h2-block">
          <h2 class="fw-bold">¿Qué hacemos con tus datos?</h2>
        </div>
        <p>Los tratamientos, y por tanto, el uso que de los datos personales que se llevan a cabo son los siguientes:</p>
        <ol>
          <li>Comunicaciones comerciales y publicidad, para la realización de comunicaciones comerciales y campañas publicitarias
            y concursos que se celebren por las distintas vías posibles</li>
          <li>Analítica de la web, para revisar el correcto uso de la web, su utilización y corrección de posibles errores, uso de los usuarios</li>
          <li>Gestión de clientes, para gestionar los clientes de la mercantil</li>
          <li>Gestión de Proveedores, para gestionar los servicios dados a través de terceros</li>
          <li>Gestión de Redes Sociales. Para la gestión de los seguidores en las distintas redes sociales asociadas a 13Pro Music, sus artistas
            y la empresa matriz, Emptystave Music Records LTD</li>
          <li>Recursos Humanos, para la gestión de personal a Emptystave Music Records LTD</li>
        </ol>

        <div class="h2-block">
          <h2 class="fw-bold">¿Qué datos personales tratamos de nuestros usuarios?</h2>
        </div>
        <p>Los datos que se tratan, en función de los tratamientos que se llevan a cabo con los mismos, son los siguientes:</p>
        <table class="table table-bordered table-sm custom-table">
          <thead class="text-center">
          <tr>
            <th>Tratamiento</th>
            <th>Datos asociados</th>
            <th>Finalidad</th>
            <th>Duración</th>
            <th>Interesados</th>
            <th>Legitimación</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Gestión clientes</td>
            <td>Nombre, Apellidos, Dirección, Email, Teléfono, transacciones, nº de CC.</td>
            <td>Gestión de clientes para la realización de conciertos.</td>
            <td>Tiempo necesario, máximo 10 años.</td>
            <td>Administración pública, entidades bancarias, socios, familiares. FFCCSSEE</td>
            <td>Contractual, precontractual.</td>
          </tr>
          <tr>
            <td>Gestión proveedores</td>
            <td>CIF, denominación, Número de cuenta, Mail, Teléfono.</td>
            <td>Gestión de proveedores de la entidad.</td>
            <td>Tiempo necesario. Máximo 10 años.</td>
            <td>Administración pública, entidades bancarias, socios, familiares. FFCCSSEE</td>
            <td>Contractual, legal</td>
          </tr>
          <tr>
            <td>Marketing</td>
            <td>Nombre, Email, usuario RRSS, nº teléfono.</td>
            <td>Realización de campañas de marketing, informativas y comerciales, así como concursos.</td>
            <td>Tiempo necesario, máximo 10 años.</td>
            <td>Administración pública, entidades bancarias, socios, familiares. FFCCSSEE</td>
            <td>Interés legítimo, consentimiento.</td>
          </tr>
          <tr>
            <td>Gestión RRSS</td>
            <td>Nombre, Email, usuario RRSS, nº teléfono.</td>
            <td>Realización de campañas de marketing, informativas y comerciales, así como concursos.</td>
            <td>Tiempo necesario, máximo 10 años.</td>
            <td>Administración pública, entidades bancarias, socios, familiares. FFCCSSEE</td>
            <td>Interés legítimo, consentimiento.</td>
          </tr>
          <tr>
            <td>Gestión RRSS</td>
            <td>Nombre, usuario RRSS.</td>
            <td>Gestión y difusión de RRSS.</td>
            <td>Tiempo necesario.</td>
            <td>Administración pública, entidades bancarias, socios, familiares. FFCCSSEE.</td>
            <td>Interés legítimo, consentimiento.</td>
          </tr>
          <tr>
            <td>RRHH</td>
            <td>Nombre, Apellidos, Dirección, Número de cuenta, Mail, Teléfono, Formación, Datos de Salud, Cuenta bancaria, Imagen.</td>
            <td>Gestión de RRHH, contratación, despidos etc…</td>
            <td>Tiempo necesario y 5 años más desde el fin de la relación.</td>
            <td>Administración pública, entidades bancarias, socios, familiares. FFCCSSEE</td>
            <td>Contractual, precontractual, consentimiento.</td>
          </tr>
          <tr>
            <td>Analítica web</td>
            <td>Cookies, IP, Navegador.</td>
            <td>Análisis de visitas web.</td>
            <td>Tiempo necesario.</td>
            <td>Administración pública, entidades bancarias, socios, familiares. FFCCSSEE.</td>
            <td>Interés legítimo.</td>
          </tr>
          </tbody>
        </table>

        <div class="h2-block">
          <h2 class="fw-bold">¿Por cuánto tiempo se almacenan?</h2>
        </div>
        <p>Con carácter general, respecto a los tratamientos de la web, almacenamos la información por
          el tiempo necesario para poder llevar a cabo los distintos tratamientos, y como máximo, un
          plazo de dos años, salvo petición de cancelación por parte del usuario, sin perjuicio a lo
          establecido en el punto C anterior.</p>

        <div class="h2-block">
          <h2 class="fw-bold">¿A quién cedemos datos?</h2>
        </div>
        <p>Cualquier dato que sea recogido por Emptystave Music Records LTD, bajo ningún concepto,
          será cedido a terceras empresas, salvo los casos que a continuación se detallan:</p>
        <ul>
          <li>IONOS, donde se almacena la información relativa a la web</li>
          <li>Google Analitycs, para poder hacer uso de las cookies</li>
          <li>Meta, para el uso de las herramientas y servicios de marketing y publicidad de los mismos</li>
          <li>A las distintas redes sociales al utilizar sus servicios, para lo que se estará a lo establecido en las mismas</li>
        </ul>
        <p>Las actuales Redes donde se encuentra EMPTYSTAVE MUSIC RECORDS LTD, por sí misma, a través de su marca 13PRO
          Music o sus artistas, son las siguientes y a las que se ceden datos conforme a las propias políticas de
          privacidad de cada una de ellas:</p>
        <table class="table table-bordered table-sm custom-table-2">
          <thead class="text-center">
          <tr>
            <th>Red Social</th>
            <th>Usuario</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Instagram</td>
            <td><a href="http://www.instagram.com/OficialDaniJ" target="_blank">http://www.instagram.com/OficialDaniJ</a></td>
          </tr>
          <tr>
            <td>Facebook</td>
            <td><a href="http://www.facebook.com/DaniJoficial" target="_blank">http://www.facebook.com/DaniJoficial</a></td>
          </tr>
          <tr>
            <td>TikTok</td>
            <td><a href="https://www.tiktok.com/@oficialdanij" target="_blank">https://www.tiktok.com/&commat;oficialdanij</a></td>
          </tr>
          <tr>
            <td>X	</td>
            <td><a href="http://www.twitter.com/OficialDaniJ" target="_blank">http://www.twitter.com/OficialDaniJ</a></td>
          </tr>
          <tr>
            <td>Instagram</td>
            <td><a href="http://www.instagram.com/13ProMusic" target="_blank">http://www.instagram.com/13ProMusic</a></td>
          </tr>
          <tr>
            <td>Facebook</td>
            <td><a href="http://www.facebook.com/13ProMusic" target="_blank">http://www.facebook.com/13ProMusic</a></td>
          </tr>
          </tbody>
        </table>

        <div class="h2-block">
          <h2 class="fw-bold">¿Hacemos decisiones automatizadas?</h2>
        </div>
        <p>No, para nosotros cada cliente es único y con respecto a los tratamientos asociados a la web, no se llevan a cabo</p>
        <p>Para más información sobre cookies, visite nuestro apartado relativo a cookies.</p>

        <div class="h2-block">
          <h2 class="fw-bold">Derechos de acceso, rectificación, supresión, limitación del tratamiento, portabilidad de los datos y oposición</h2>
        </div>
        <p>Conforme al Reglamento General de Protección de datos, junto con su derecho a oponerse a la automatización de decisiones, todo usuario
          que haya facilitado datos a Emptystave Music Records LTD tiene los siguientes derechos que puede hacer ejercer:</p>
        <ul>
          <li>Acceso</li>
          <li>Rectificación</li>
          <li>Supresión</li>
          <li>Limitación del tratamiento</li>
          <li>Portabilidad de los datos</li>
          <li>Oposición</li>
        </ul>
        <p>El ejercicio de estos derechos deberá llevarse a cabo mediante comunicación dirigida a Emptystave Music Records LTD ya sea a su dirección
          postal, indicada más arriba, o a la dirección electrónica dispuesta a estos efectos emptystave&commat;gmail.com, sin perjuicio del uso de
          cualquier otro medio válido en derecho que permita cumplimentar de forma legalmente válida los requisitos para ello. Para acreditar su
          identidad necesitaremos que nos facilite:</p>
        <ul>
          <li>Nombre y apellidos del interesado; copia de DNI, pasaporte o similar y, en su caso, de la persona que lo represente</li>
          <li>Objeto de la petición</li>
          <li>Dirección a efectos de notificaciones, fecha y firma del solicitante</li>
          <li>Documentos acreditativos de la petición de la petición formulada en el caso de que se estimen convenientes o necesarios</li>
        </ul>
        <p>A su vez tiene usted derecho a plantear las reclamaciones que estime convenientes ante la AEPD.</p>

        <div class="h2-block">
          <h2 class="fw-bold">Gestión de la información</h2>
        </div>
        <p>Los datos que aportas a la Web son incluidos en nuestros tratamientos antes mencionados, así como aquellos que son cedidos, también
          lo hacen en el pertinente Registro de cesiones de datos personales.</p>

        <div class="h2-block">
          <h2 class="fw-bold">Enlaces de Interés</h2>
        </div>
        <p>Si queréis saber más acerca de Internet y vuestra privacidad desde Emptystave Music Records LTD, os recomendamos que visitéis los siguientes enlaces:</p>
        <p>Oficina Seguridad Internet: <a href="http://www.osi.es" target="_blank">http://www.osi.es</a></p>
        <p>Agencia Española de Protección de Datos: <a href="http://www.agpd.es" target="_blank">http://www.agpd.es</a></p>
      </div>
    </div>
  </div>
</section>

