<section class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="heading-wrapper custom-padding-bottom">
        <h1 class="text-uppercase fw-bold" [innerHTML]="'PRIVACY_POLICY.TITLE' | translate"></h1>
        <hr class="opacity-100 hr1"/>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="custom-padding lh-lg text-justify">
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'PRIVACY_POLICY.RESPONSIBLE.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'PRIVACY_POLICY.RESPONSIBLE.P1' | translate"></p>
        <p [innerHTML]="'PRIVACY_POLICY.RESPONSIBLE.P2' | translate"></p>
        <ul>
          <li [innerHTML]="'PRIVACY_POLICY.RESPONSIBLE.LIST.ITEM1' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.RESPONSIBLE.LIST.ITEM2' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.RESPONSIBLE.LIST.ITEM3' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.RESPONSIBLE.LIST.ITEM4' | translate"></li>
        </ul>

        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'PRIVACY_POLICY.WHAT_WE_DO.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'PRIVACY_POLICY.WHAT_WE_DO.P1' | translate"></p>
        <ol>
          <li [innerHTML]="'PRIVACY_POLICY.WHAT_WE_DO.LIST.ITEM1' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.WHAT_WE_DO.LIST.ITEM2' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.WHAT_WE_DO.LIST.ITEM3' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.WHAT_WE_DO.LIST.ITEM4' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.WHAT_WE_DO.LIST.ITEM5' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.WHAT_WE_DO.LIST.ITEM6' | translate"></li>
        </ol>

        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'PRIVACY_POLICY.WHAT_DATA.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'PRIVACY_POLICY.WHAT_DATA.P1' | translate"></p>
        <table class="table table-bordered table-sm custom-table">
          <thead class="text-center">
          <tr>
            <th [innerHTML]="'PRIVACY_POLICY.TABLE_HEAD.TREATMENT' | translate"></th>
            <th [innerHTML]="'PRIVACY_POLICY.TABLE_HEAD.ASSOCIATED_DATA' | translate"></th>
            <th [innerHTML]="'PRIVACY_POLICY.TABLE_HEAD.PURPOSE' | translate"></th>
            <th [innerHTML]="'PRIVACY_POLICY.TABLE_HEAD.DURATION' | translate"></th>
            <th [innerHTML]="'PRIVACY_POLICY.TABLE_HEAD.SUBJECTS' | translate"></th>
            <th [innerHTML]="'PRIVACY_POLICY.TABLE_HEAD.LEGAL_BASIS' | translate"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.CUSTOMER_MANAGEMENT.TREATMENT' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.CUSTOMER_MANAGEMENT.ASSOCIATED_DATA' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.CUSTOMER_MANAGEMENT.PURPOSE' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.CUSTOMER_MANAGEMENT.DURATION' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.CUSTOMER_MANAGEMENT.SUBJECTS' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.CUSTOMER_MANAGEMENT.LEGAL_BASIS' | translate"></td>
          </tr>
          <tr>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.PROVIDER_MANAGEMENT.TREATMENT' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.PROVIDER_MANAGEMENT.ASSOCIATED_DATA' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.PROVIDER_MANAGEMENT.PURPOSE' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.PROVIDER_MANAGEMENT.DURATION' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.PROVIDER_MANAGEMENT.SUBJECTS' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.PROVIDER_MANAGEMENT.LEGAL_BASIS' | translate"></td>
          </tr>
          <tr>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.MARKETING.TREATMENT' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.MARKETING.ASSOCIATED_DATA' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.MARKETING.PURPOSE' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.MARKETING.DURATION' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.MARKETING.SUBJECTS' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.MARKETING.LEGAL_BASIS' | translate"></td>
          </tr>
          <tr>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.SOCIAL_MANAGEMENT.TREATMENT' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.SOCIAL_MANAGEMENT.ASSOCIATED_DATA' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.SOCIAL_MANAGEMENT.PURPOSE' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.SOCIAL_MANAGEMENT.DURATION' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.SOCIAL_MANAGEMENT.SUBJECTS' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.SOCIAL_MANAGEMENT.LEGAL_BASIS' | translate"></td>
          </tr>
          <tr>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.SOCIAL_DISSEMINATION.TREATMENT' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.SOCIAL_DISSEMINATION.ASSOCIATED_DATA' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.SOCIAL_DISSEMINATION.PURPOSE' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.SOCIAL_DISSEMINATION.DURATION' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.SOCIAL_DISSEMINATION.SUBJECTS' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.SOCIAL_DISSEMINATION.LEGAL_BASIS' | translate"></td>
          </tr>
          <tr>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.HR.TREATMENT' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.HR.ASSOCIATED_DATA' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.HR.PURPOSE' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.HR.DURATION' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.HR.SUBJECTS' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.HR.LEGAL_BASIS' | translate"></td>
          </tr>
          <tr>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.WEB_ANALYTICS.TREATMENT' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.WEB_ANALYTICS.ASSOCIATED_DATA' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.WEB_ANALYTICS.PURPOSE' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.WEB_ANALYTICS.DURATION' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.WEB_ANALYTICS.SUBJECTS' | translate"></td>
            <td [innerHTML]="'PRIVACY_POLICY.TABLE_ROWS.WEB_ANALYTICS.LEGAL_BASIS' | translate"></td>
          </tr>
          </tbody>
        </table>

        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'PRIVACY_POLICY.STORAGE.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'PRIVACY_POLICY.STORAGE.P1' | translate"></p>

        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'PRIVACY_POLICY.SHARING.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'PRIVACY_POLICY.SHARING.P1' | translate"></p>
        <ul>
          <li [innerHTML]="'PRIVACY_POLICY.SHARING.LIST.ITEM1' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.SHARING.LIST.ITEM2' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.SHARING.LIST.ITEM3' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.SHARING.LIST.ITEM4' | translate"></li>
        </ul>
        <p [innerHTML]="'PRIVACY_POLICY.NETWORKS.P1' | translate"></p>
        <table class="table table-bordered table-sm custom-table-2">
          <thead class="text-center">
            <tr>
              <th [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_HEAD.SOCIAL_NETWORK' | translate"></th>
              <th [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_HEAD.USERNAME' | translate"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_ROWS.INSTAGRAM.LABEL' | translate"></td>
              <td><a href="http://www.instagram.com/OficialDaniJ" target="_blank"
                   [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_ROWS.INSTAGRAM.URL' | translate"></a></td>
            </tr>
            <tr>
              <td [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_ROWS.FACEBOOK1.LABEL' | translate"></td>
              <td><a href="http://www.facebook.com/DaniJoficial" target="_blank"
                   [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_ROWS.FACEBOOK1.URL' | translate"></a></td>
            </tr>
            <tr>
              <td [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_ROWS.TIKTOK.LABEL' | translate"></td>
              <td><a href="https://www.tiktok.com/@oficialdanij" target="_blank"
                   [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_ROWS.TIKTOK.URL' | translate"></a></td>
            </tr>
            <tr>
              <td [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_ROWS.X.LABEL' | translate"></td>
              <td><a href="http://www.twitter.com/OficialDaniJ" target="_blank"
                   [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_ROWS.X.URL' | translate"></a></td>
            </tr>
            <tr>
              <td [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_ROWS.INSTAGRAM2.LABEL' | translate"></td>
              <td><a href="http://www.instagram.com/13ProMusic" target="_blank"
                   [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_ROWS.INSTAGRAM2.URL' | translate"></a></td>
            </tr>
            <tr>
              <td [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_ROWS.FACEBOOK2.LABEL' | translate"></td>
              <td><a href="http://www.facebook.com/13ProMusic" target="_blank"
                   [innerHTML]="'PRIVACY_POLICY.NETWORKS.TABLE_ROWS.FACEBOOK2.URL' | translate"></a></td>
            </tr>
          </tbody>
        </table>

        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'PRIVACY_POLICY.AUTOMATED_DECISIONS.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'PRIVACY_POLICY.AUTOMATED_DECISIONS.P1' | translate"></p>
        <p [innerHTML]="'PRIVACY_POLICY.MORE_INFO' | translate"></p>

        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'PRIVACY_POLICY.RIGHTS.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'PRIVACY_POLICY.RIGHTS.P1' | translate"></p>
        <ul>
          <li [innerHTML]="'PRIVACY_POLICY.RIGHTS.LIST.ITEM1' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.RIGHTS.LIST.ITEM2' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.RIGHTS.LIST.ITEM3' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.RIGHTS.LIST.ITEM4' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.RIGHTS.LIST.ITEM5' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.RIGHTS.LIST.ITEM6' | translate"></li>
        </ul>
        <p [innerHTML]="'PRIVACY_POLICY.EXERCISE.CLAIMS_P1' | translate"></p>
        <ul>
          <li [innerHTML]="'PRIVACY_POLICY.EXERCISE.LIST.ITEM1' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.EXERCISE.LIST.ITEM2' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.EXERCISE.LIST.ITEM3' | translate"></li>
          <li [innerHTML]="'PRIVACY_POLICY.EXERCISE.LIST.ITEM4' | translate"></li>
        </ul>

        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'PRIVACY_POLICY.INFORMATION_MANAGEMENT.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'PRIVACY_POLICY.INFORMATION_MANAGEMENT.P1' | translate"></p>

        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'PRIVACY_POLICY.LINKS.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'PRIVACY_POLICY.LINKS.P1' | translate"></p>
        <p [innerHTML]="'PRIVACY_POLICY.LINKS.OSI' | translate"></p>
        <p [innerHTML]="'PRIVACY_POLICY.LINKS.OSI' | translate"></p>

      </div>
    </div>
  </div>
</section>
