<section class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="heading-wrapper">
        <h1 class="text-uppercase fw-bold">EL BACHATERO Nº1 DE EUROPA</h1>
        <hr class="opacity-100 hr1" />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="text-center h2-block">
        <h2 class="fw-bold">Dani J</h2>
        <hr class="opacity-100 hr2 mx-auto" />
      </div>
      <div class="custom-padding lh-lg text-justify">
        <p>¡Bienvenido a <strong>Dani J</strong>, el artista internacional que está revolucionando el mundo
          de la bachata! Con más de 300 conciertos en los últimos años, <strong>Dani J</strong> se ha posicionado
          como uno de los artistas más destacados en este género musical.</p>
        <p>Originario de <strong>SEVILLA</strong>, España, ha llevado su música a más de 30 países, incluyendo
          Inglaterra, Francia, Italia, Suiza, Alemania, Holanda, Dinamarca, Siberia, Rumania, Chipre, Rusia,
          Polonia, Grecia, Portugal, Brasil, Estados Unidos, México, Australia, Túnez, Israel, Argentina, Chile,
          Ecuador, República Dominicana, Tailandia, Vietnam, Corea, Japón y Singapur.</p>
        <p>La habilidad de <strong>Dani J</strong> para reinventarse y fusionar la bachata con elementos de la
          música actual ha sido fundamental para elevar este género a nuevos niveles. Su versatilidad como bailarín,
          cantante, productor musical, compositor y músico ha dejado huella en la industria. Cada una de sus
          presentaciones es una experiencia única, llena de pasión y energía contagiosa.</p>
        <p><strong>Dani J</strong> se destaca no solo por su talento musical, sino también por su carisma y dedicación
          a su público. Sus letras profundas y emotivas conectan con personas de todas las edades y culturas,
          transmitiendo emociones que trascienden barreras.</p>
        <p><strong>¡Dani J!</strong> ¿Quién da más?</p>
      </div>
    </div>
  </div>
</section>
