section {
  margin-top: 20.5rem;
  color: #ffffff;
  font-family: Arial;
}

h1{
  color: #E9BF43;
}

.home-btn {
  padding: 1rem 2rem;
  background-color: #0F0911;
  border: 1px solid #E9BF43;
  color: #E9BF43;
  box-shadow: 0 1px 8px #ffffff;
  font-weight: bold;
}

.home-btn:hover {
  background-color: #7A8288;
  border-color: #353535;
  color: #353535;
}

.home-btn:hover {
  background-color: #7A8288;
  border: #353535;
  color: #353535;
}

@media (max-width: 767.98px) {
  section {
    margin-top: 10.5rem;
    color: #ffffff;
    font-family: Arial;
  }
}
