<section class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="heading-wrapper custom-padding-bottom">
        <h1 class="text-uppercase fw-bold" [innerHTML]="'CONTEST.TITLE' | translate"></h1>
        <hr class="opacity-100 hr1"/>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="custom-padding lh-lg text-justify">
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'CONTEST.BASE1.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'CONTEST.BASE1.P1' | translate"></p>
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'CONTEST.BASE2.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'CONTEST.BASE2.P1' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE2.P2' | translate"></p>
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'CONTEST.BASE3.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'CONTEST.BASE3.INTRO' | translate"></p>
        <ul>
          <li [innerHTML]="'CONTEST.BASE3.LIST.ITEM1' | translate"></li>
          <li [innerHTML]="'CONTEST.BASE3.LIST.ITEM2' | translate"></li>
        </ul>
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'CONTEST.BASE4.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'CONTEST.BASE4.P1' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE4.P2' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE4.P3' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE4.P4' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE4.P5' | translate"></p>
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'CONTEST.BASE5.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'CONTEST.BASE5.INTRO' | translate"></p>
        <ol>
          <li [innerHTML]="'CONTEST.BASE5.LIST.ITEM1' | translate"></li>
          <li [innerHTML]="'CONTEST.BASE5.LIST.ITEM2' | translate">
            <ul>
              <li [innerHTML]="'CONTEST.BASE5.LIST.SUBLIST2.ITEM1' | translate"></li>
              <li [innerHTML]="'CONTEST.BASE5.LIST.SUBLIST2.ITEM2' | translate"></li>
              <li [innerHTML]="'CONTEST.BASE5.LIST.SUBLIST2.ITEM3' | translate"></li>
            </ul>
          </li>
          <li [innerHTML]="'CONTEST.BASE5.LIST.ITEM3' | translate"></li>
          <li [innerHTML]="'CONTEST.BASE5.LIST.ITEM4' | translate"></li>
        </ol>
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'CONTEST.BASE6.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'CONTEST.BASE6.P1' | translate"></p>
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'CONTEST.BASE7.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'CONTEST.BASE7.P1' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE7.P2' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE7.P3' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE7.P4' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE7.P5' | translate"></p>
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'CONTEST.BASE8.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'CONTEST.BASE8.P1' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE8.P2' | translate"></p>
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'CONTEST.BASE9.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'CONTEST.BASE9.P1' | translate"></p>
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'CONTEST.BASE10.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'CONTEST.BASE10.P1' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P2' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P3' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P4' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P5' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P6' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P7' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P8' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P9' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P10' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P11' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P12' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P13' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P14' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P15' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P16' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P17' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE10.P18' | translate"></p>
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'CONTEST.BASE11.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'CONTEST.BASE11.P1' | translate"></p>
        <div class="h2-block">
          <h2 class="fw-bold" [innerHTML]="'CONTEST.BASE12.TITLE' | translate"></h2>
        </div>
        <p [innerHTML]="'CONTEST.BASE12.P1' | translate"></p>
        <p [innerHTML]="'CONTEST.BASE12.P2' | translate"></p>
        <ul>
          <li [innerHTML]="'CONTEST.BASE12.LIST.ITEM1' | translate"></li>
          <li [innerHTML]="'CONTEST.BASE12.LIST.ITEM2' | translate"></li>
        </ul>
        <p [innerHTML]="'CONTEST.BASE12.P3' | translate"></p>
      </div>
    </div>
  </div>
</section>
