<section class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="heading-wrapper custom-padding-bottom">
        <h1 class="text-uppercase fw-bold">BASES DEL SORTEO "Baila con Dani J"</h1>
        <hr class="opacity-100 hr1" />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="custom-padding lh-lg text-justify">
          <div class="h2-block">
            <h2 class="fw-bold">BASE 1 – OBJETO</h2>
          </div>
          <p>Por las presentes bases EMPTYSTAVE MUSIC RECORDS LTD, con Domicilio en Calle EFESOU 9, PARALIMNI, 5280,FAMAGUSTA,
            CYPRUS y nº fiscal 60091184X, para su artista Dani J, en adelante Dani J, pone en marcha la promoción "Baila con
            Dani J" con el fin de premiar a sus seguidores. A tal fin, Dani J invitará a subir al escenario a los seleccionados
            para ello a lo largo de su gira por latinoamérica.</p>

          <div class="h2-block">
            <h2 class="fw-bold">BASE 2 – DURACIÓN</h2>
          </div>
          <p>La promoción comenzará el 10 de Abril de 2025 y se cerrará a las 23.59 horas del 9 de Octubre de 2025.</p>
          <p>Se determinarán como ganadoras a las personas seleccionadas como tales por parte de un jurado experto en la
            materia que se comunicará al momento de informar a los ganadores.</p>

          <div class="h2-block">
            <h2 class="fw-bold">BASE 3 ‐ DESCRIPCIÓN DEL PREMIO</h2>
          </div>

          <p>El premio a sortear consiste en lo siguiente:</p>
          <ul>
              <li>Subir al escenario a bailar con Dani J en los conciertos que se van a celebrar en latinoamérica,
                en los países de Argentina, Chile , Uruguay y Perú a lo largo de su gira 2025.</li>
              <li>Dicho premio no consiste en la entrada para acceder al concierto, que en cualquier caso, deberá
                ser abonado de forma independiente por parte de los ganadores en el caso de querer disfrutar del premio.</li>
          </ul>

          <div class="h2-block">
            <h2 class="fw-bold">BASE 4 ‐ PARTICIPANTES</h2>
          </div>

          <p>Puede realizar comunicaciones sobre requisitos de accesibilidad [artículo 10.2.a del RD 1112/2018] como, por ejemplo:</p>
          <p>Esta promoción está abierta a cualquier persona mayor de 18 años, con excepción de los empleados y sus familiares inmediatos de:
              el promotor; cualquier agencia involucrada con la promoción; Y cualquier otra persona relacionada profesionalmente con la
              promoción, así como los propietarios y/o empleados de 13Pro Music, y las empresas proveedoras de ésta que intervengan en la
              promoción, así como cónyuges, ascendientes y descendientes, hasta familiares de primer grado (inclusive), no podrán tomar parte en el sorteo.</p>
          <p>La participación en el presente sorteo supone la aceptación íntegra, por parte de los concursantes, de todas las cláusulas
            contenidas en las presentes bases.</p>
          <p>El participante declara bajo su responsabilidad que cumple estrictamente con todas las condiciones del concurso. Así mismo el
            participante admite ser inmediatamente descalificado si durante el sorteo o incluso después de la publicación de los ganadores
            y de la entrega de los premios se tiene conocimiento de que alguno de los condicionantes indicados en las presentes Bases no se
            cumple completamente o que cualquiera de las declaraciones del participante es total o parcialmente falsa, errónea o incierta.</p>
          <p>El participante acepta expresamente que la subida a bailar con Dani J no supone una relación laboral ni mercantil de ningún tipo,
            siendo plenamente voluntaria por su parte. Igualmente el participante excluye de cualquier tipo de responsabilidad a Dani J, su
            equipo, productora o personal similar en lo relativo a la ejecución de la coreografía y/o cualquier incidencia o daño que puedan
            ocurrir con la ejecución de la misma.</p>

          <div class="h2-block">
            <h2 class="fw-bold">BASE 5 ‐ MECÁNICA DEL CONCURSO</h2>
          </div>
          <p>Todas las personas que deseen participar en el concurso deberán cumplir los siguientes requisitos:</p>
          <ol>
            <li>Seguir en la red social en la que se participe al usuario &commat;OficialDaniJ'</li>
            <li>Subir un video en cualquiera de las redes sociales (Instagram o Tiktok) usando las canciones
                originales de la plataforma con alguna de las coreografías indicadas en las publicaciones del 9,
                10 y 11 de Abril de 2025 de las distintas redes sociales de Dani J, sobre las canciones siguientes:
              <ul>
                <li>7 pecados</li>
                <li>Caprichito</li>
                <li>Rosas</li>
              </ul>
            </li>
            <li>Ganarán el premio aquellas personas seleccionadas en función de la originalidad y talento mostrados en el video.</li>
            <li>Dichas personas serán contactadas por mensaje directo por Dani J desde su cuenta personal.</li>
          </ol>

          <div class="h2-block">
            <h2 class="fw-bold">BASE 6 - ENTREGA DE PREMIOS</h2>
          </div>

          <p>La organización se pondrá en contacto con los ganadores del concurso por mensaje directo para concretar los detalles de la colaboración.</p>

          <div class="h2-block">
            <h2 class="fw-bold">BASE 7 ‐ PUBLICIDAD DE LOS GANADORES. USO PUBLICITARIO DE SU IDENTIDAD E IMAGEN. AUTORIZACIONES</h2>
          </div>

          <p>Los nombres de los ganadores serán publicados en los stories de las redes sociales oficiales de Dani J.</p>
          <p>La participación en la presente promoción conllevará la autorización de los participantes para dicha publicación, caso de resultar ganador.</p>
          <p>Los premiados consienten, al aceptar estas bases, que en caso de resultar ganador, la experiencia objeto del concurso será
            grabada y documentada por el equipo de Emptystave Music Records LTD para ser posteriormente compartida en las redes sociales de Dani J.</p>
          <p>Asimismo, conllevará su autorización para utilizar publicitariamente y con carácter gratuito, su nombre e imagen en el material
            publicitario que, en su caso, se desarrolle en relación con la presente promoción.</p>
          <p>Los ganadores aceptan expresamente que conseguir dicha condición no les hace tener una relación mercantil ni laboral, siendo una
            actuación libre y voluntaria la que se va a llevar a cabo por parte de los mismos.</p>

          <div class="h2-block">
            <h2 class="fw-bold">BASE 8 ‐ RESPONSABILIDAD DAÑOS PARTICIPACIÓN</h2>
          </div>

          <p>El promotor y sus respectivas agencias de publicidad y promoción no asumen ninguna responsabilidad por daños personales o
            daños a la propiedad de cualquier tipo, incluidos, entre otros, los daños directos, indirectos, consecuentes, incidentales o
            punitivos que puedan sufrir participando en el concurso. Además, el Patrocinador y sus respectivas agencias de publicidad y
            promoción, y los Proveedores no asumen ninguna responsabilidad por cualquier aspecto adicional del concurso.</p>

          <div class="h2-block">
            <h2 class="fw-bold">BASE 9 – USO DE IMAGEN Y VOZ</h2>
          </div>

          <p>Al participar en el concurso y aceptar un premio, el ganador acepta el uso razonable en medios digitales y RR.SS.
            a lo largo del año 2024 y 2025 por parte del promotor de la fotografía, la voz y/o la imagen del ganador, el contenido
            del formulario de inscripción sin ninguna compensación adicional por cualquier actividad promocional futura.</p>

          <div class="h2-block">
            <h2 class="fw-bold">BASE 10 ‐ TRATAMIENTO DE DATOS</h2>
          </div>

          <p>En cumplimiento de la normativa vigente de protección de datos personales, le informamos que los datos de los
            participantes se incorporan a un tratamiento de datos personales:</p>
          <p>IDENTIDAD DEL RESPONSABLE: <br>
            EMPTYSTAVE MUSIC RECORDS LTD. <br>
            Domicilio en Calle EFESOU 9, PARALIMNI, 5280,FAMAGUSTA, CYPRUS. <br>
            Nº fiscal 60091184X.</p>
          <p>PROCEDENCIA DE LOS DATOS: Los datos personales que se tratan proceden del propio interesado.</p>
          <p>Las categorías de interesados que se tratan son: Participantes en el concurso.</p>
          <p>Las categorías de datos tratados son: Identificativos, direcciones postales y/o electrónicas,
            teléfonos fijos/móviles, edad, número de hijos, y, en el caso de los ganadores: imagen, videos.</p>
          <p>FINALIDADES: Tratamos los datos personales que nos facilitan con la finalidad de gestionar su participación
            en la presente acción promocional. Asimismo, la finalidad serán las acciones promocionales en las que los
            ganadores participen, de acuerdo a los términos y condiciones de utilización de la imagen que se exponen
            en la Base 11, y del resto de las Bases de la Promoción.</p>
          <p>NO se elaborarán perfiles en base a la información facilitada ni de la que se vaya incorporando mientras dure la relación.
            NO se tomarán decisiones automatizadas en base a los datos recabados.</p>
          <p>CONSERVACIÓN DE LOS DATOS: Los datos se conservarán mientras no se solicite su supresión, durante los plazos legales preceptivos,
            y al menos durante un plazo mínimo de 5 años desde la última interacción.</p>
          <p>LEGITIMACIÓN DEL TRATAMIENTO: El tratamiento de sus datos se efectúa al amparo del consentimiento que se otorga por el hecho de
            participar en el concurso.</p>
          <p>CONSENTIMIENTO: Por el hecho de participar en el concurso Ud. acepta todas y cada de las bases del mismo y consiente expresamente el
            tratamiento de los datos para las finalidades principales expuestas en la presente política de privacidad.</p>
          <p>DESTINATARIOS: Los datos no serán comunicados a terceros salvo por lo dispuesto en la legislación vigente.</p>
          <p>DERECHOS: Los Interesados tienen derecho a conocer que tratamos sus datos de acuerdo a las finalidades especificadas en la
            Política de Privacidad y Protección de Datos de la que este epígrafe forma parte.</p>
          <p>Tiene derecho a acceder a sus datos personales, y a rectificarlos si fueran inexactos.</p>
          <p>Tiene derecho a solicitar la supresión de los mismos cuando, entre otros motivos, los datos ya no sean necesarios para la
            finalidad por la que fueron recabados.
          </p>
          <p>En determinadas circunstancias, los Interesados podrán solicitar la limitación del tratamiento de sus datos, los cuales
            serán conservados únicamente para el ejercicio del derecho de defensa ante reclamaciones y/o litigios, y durante los
            plazos legales exigibles para su conservación.</p>
          <p>En determinadas circunstancias, los interesados podrán oponerse al tratamiento de sus datos. En ese caso, se dejarán de tratar
            sus datos, con las únicas excepciones de motivos legítimos, por motivos históricos, artísticos, o de investigación, para la defensa
            ante reclamaciones, o por lo previsto en la normativa vigente.</p>
          <p>Tiene derecho a ponerse en contacto con el Delegado de Protección de Datos en la dirección arriba indicada para pedirle aclaraciones,
            consultas, sugerencias, reclamaciones, o para ejercer los derechos que se han expuesto en la presente Información de Protección de Datos.</p>
          <p>Asimismo, tiene derecho a ampliar la información y efectuar las consultas o reclamaciones que considere oportunas ante la Agencia Española de
            Protección de Datos (AEPD), con domicilio en la calle Jorge Juan, nº6, 28001 Madrid.</p>

          <div class="h2-block">
            <h2 class="fw-bold">BASE 11 ‐ PERIODO DE RECLAMACIÓN</h2>
          </div>

          <p>El periodo para interponer cualquier reclamación por quien tenga derecho a ella, relativa a la promoción, finalizará transcurridos 15
            días desde la fecha final del periodo de participación.</p>

          <div class="h2-block">
            <h2 class="fw-bold">BASE 12 ‐ POSIBILIDAD DE EXCLUSIÓN DE PARTICIPANTES</h2>
          </div>

          <p>Es voluntad de Emptystave Music Records LTD que la competición entre los distintos participantes en la
            PROMOCIÓN resulte en igualdad de oportunidades y con estricto respeto a las normas de la buena fe. Por ello,
            se reserva el derecho a evitar que sobre este concurso se establezcan sistemas de especulación o de negocios.</p>
          <p>Cualquier uso abusivo o fraudulento de la mecánica de participación dará lugar a la automática exclusión del
            participante en la PROMOCIÓN. Sin perjuicio de lo anterior se entenderá, sin carácter taxativo y cerrado, que existe fraude cuando:</p>
          <ul>
            <li>Se detecte el supuesto uso de aplicaciones independientes al Website; la realización de un abuso de consultas al servidor, de
              pruebas aleatorias de códigos, y cualquier comportamiento que pueda resultar aparentemente abusivo y/o malintencionado.</li>
            <li>Asimismo serán excluidos de la promoción o perderán el premio todos aquellos participantes que actúen con el fin de
              lucrarse a través de la reventa de los premios conseguidos y/o actúen de forma organizada con dicha finalidad.
              Para determinar tal intención, Emptystave Music Records LTD podrá tener en cuenta comportamientos anteriores de los afectados.</li>
          </ul>
          <p>Emptystave Music Records LTD y la agencia promotora que gestione la realización de la promoción, quedarán exentas de cualquier
            responsabilidad derivada de la existencia de algún error en los datos facilitados por los propios agraciados, impeditivo de
            su identificación. Asimismo, tampoco responderán de posibles pérdidas, deterioros, robos, retrasos o cualquier otra circunstancia
            imputable a terceros que pueda afectar al envío de los justificantes o al desarrollo de la presente promoción.</p>
        </div>
      </div>
    </div>
</section>

