<section class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="text-center h2-block">
        <h2 class="fw-bold">Contacto</h2>
        <hr class="opacity-100 hr2 mx-auto" />
      </div>
      <div class="custom-padding lh-lg text-justify">
        <p>Contacta con nuestro equipo a través del formulario o las redes sociales de DANI J o 13 PRO MUSIC.</p>
        <p>Te atenderemos a la mayor brevedad posible.</p>
        <p>Email: <a href="mailto:info@13promusic.com">info&commat;13promusic.com</a></p>
      </div>
      <div class="ms-2 border-start border-1 ps-3 ps-md-5">
        <div class="text-center h2-block">
          <h2 class="fw-bold">Formulario de Contacto</h2>
          <hr class="opacity-100 hr2 mx-auto" />
        </div>
        <h3 class="fw-bold mt-5">"*" señala los campos obligatorios</h3>
        <div class="row justify-content-start">
          <div class="col-12 col-md-6 col-lg-12">
            <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
              <div class="mb-3">
                <label class="form-label">Nombre*</label>
                <input type="text" name="nombre" class="form-control" [(ngModel)]="contact.name" required placeholder="Nombre">
              </div>
              <div class="mb-3">
                <label class="form-label">Correo electrónico*</label>
                <input type="email" name="email" class="form-control" [(ngModel)]="contact.email" required placeholder="Email">
              </div>
              <div class="mb-3">
                <label class="form-label">Mensaje*</label>
                <textarea name="mensaje" class="form-control" [(ngModel)]="contact.message" required rows="5" placeholder="Mensaje"></textarea></div>
              <button type="submit" class="btn-custom mt-3 align-self-start" [disabled]="contactForm.invalid">Enviar</button>
              <div *ngIf="errorMsg" class="alert alert-danger mt-3">{{ errorMsg }}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
