<div class="modal fade" id="address-modal" tabindex="-1" aria-labelledby="address-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h3 class="modal-title" id="address-modal-label" [innerHTML]="'ADDRESS_MODAL.TITLE' | translate">
        </h3>
        <button type="button" class="btn-close btn-custom" data-bs-dismiss="modal" [attr.aria-label]="'ADDRESS_MODAL.BUTTON.CLOSE' | translate"></button>
      </div>
      <div class="modal-body">
        <div class="mx-auto div-forms">
          <form class="row g-3" (ngSubmit)="onSubmitAddAddress()">
            <div class="col-md-6">
              <label for="country" class="form-label" [innerHTML]="'ADDRESS_MODAL.LABELS.COUNTRY' | translate"></label>
              <input type="text" id="country" class="form-control" [(ngModel)]="country" name="country"/>
            </div>
            <div class="col-md-6">
              <label for="province" class="form-label" [innerHTML]="'ADDRESS_MODAL.LABELS.PROVINCE' | translate"></label>
              <input type="text" id="province" class="form-control" [(ngModel)]="province" name="province"/>
            </div>
            <div class="col-md-6">
              <label for="city" class="form-label" [innerHTML]="'ADDRESS_MODAL.LABELS.CITY' | translate"></label>
              <input type="text" id="city" class="form-control" [(ngModel)]="city" name="city"/>
            </div>
            <div class="col-md-6">
              <label for="postalCode" class="form-label" [innerHTML]="'ADDRESS_MODAL.LABELS.POSTAL_CODE' | translate"></label>
              <input type="text" id="postalCode" class="form-control" [(ngModel)]="postalCode" name="postalCode"/>
            </div>
            <div class="col-md-6">
              <label for="street" class="form-label" [innerHTML]="'ADDRESS_MODAL.LABELS.STREET' | translate"></label>
              <input type="text" id="street" class="form-control" [(ngModel)]="street" name="street"/>
            </div>
            <div class="col-md-6">
              <label for="blockNumber" class="form-label" [innerHTML]="'ADDRESS_MODAL.LABELS.BLOCK_NUMBER' | translate"></label>
              <input type="text" id="blockNumber" class="form-control" [(ngModel)]="blockNumber" name="blockNumber"/>
            </div>
            <div class="col-md-6">
              <label for="ladder" class="form-label" [innerHTML]="'ADDRESS_MODAL.LABELS.LADDER' | translate"></label>
              <input type="text" id="ladder" class="form-control" [(ngModel)]="ladder" name="ladder"/>
            </div>
            <div class="col-md-6">
              <label for="door" class="form-label" [innerHTML]="'ADDRESS_MODAL.LABELS.DOOR' | translate"></label>
              <input type="text" id="door" class="form-control" [(ngModel)]="door" name="door"/>
            </div>
            <div *ngIf="errorMessages.length" class="alert alert-danger mt-2">
              <div *ngFor="let err of errorMessages">{{ err }}</div>
            </div>
            <div class="col-12 text-center mt-4">
              <button type="button" class="btn w-50 fw-bold login-btn" (click)="onSubmitAddAddress()" [disabled]="isSubmitting"
                      [innerHTML]="'ADDRESS_MODAL.BUTTON.ADD' | translate"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
