<div class="modal fade" id="address-modal" tabindex="-1" aria-labelledby="address-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h3 class="modal-title" id="address-modal-label">Dirección</h3>
        <button type="button" class="btn-close btn-custom" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div class="mx-auto div-forms">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="country" class="form-label">País</label>
              <input type="text" id="country" class="form-control" placeholder="España">
            </div>
            <div class="col-md-6">
              <label for="province" class="form-label">Provincia</label>
              <input type="text" id="province" class="form-control" placeholder="Sevilla">
            </div>
            <div class="col-md-6">
              <label for="city" class="form-label">Ciudad</label>
              <input type="text" id="city" class="form-control" placeholder="Sevilla">
            </div>
            <div class="col-md-6">
              <label for="postalCode" class="form-label">Código Postal</label>
              <input type="text" id="postalCode" class="form-control" placeholder="41001">
            </div>
            <div class="col-md-6">
              <label for="street" class="form-label">Calle</label>
              <input type="text" id="street" class="form-control" placeholder="Calle Ejemplo">
            </div>
            <div class="col-md-6">
              <label for="blockNumber" class="form-label">Número de bloque</label>
              <input type="text" id="blockNumber" class="form-control" placeholder="12">
            </div>
            <div class="col-md-6">
              <label for="ladder" class="form-label">Escalera</label>
              <input type="text" id="ladder" class="form-control" placeholder="A">
            </div>
            <div class="col-md-6">
              <label for="door" class="form-label">Puerta</label>
              <input type="text" id="door" class="form-control" placeholder="3B">
            </div>
            <div class="col-12 text-center mt-4">
              <button type="submit" class="btn w-50 fw-bold login-btn">Añadir</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
