<div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h3 class="modal-title" id="login-modal-label">Iniciar Sesión</h3>
        <button type="button" class="btn-close btn-custom" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div class="mx-auto div-forms">
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="credentials.email" name="email" required>
            </div>
            <div class="mb-4">
              <label for="password" class="form-label">Contraseña</label>
              <div class="input-group">
                <input type="password" class="form-control" id="password" [(ngModel)]="credentials.userPassword" name="password" required>
                <span class="input-group-text" (click)="togglePassword()"><i class="fa-solid fa-eye-slash"></i></span>
              </div>
            </div>
            <div *ngIf="errorMessages.length > 0" class="alert alert-danger mt-3">
              <div *ngFor="let error of errorMessages">
                {{ error }}
              </div>
            </div>
            <button type="submit" class="btn w-100 fw-bold login-btn">Iniciar Sesión</button>
          </form>
          <div class="text-center mt-3">
            <span class="text-white">¿No tienes cuenta? <a href="#" class="fw-bold create-acount" data-bs-dismiss="modal"
              data-bs-toggle="modal" data-bs-target="#register-modal">Crear una cuenta</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
