<section class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="heading-wrapper custom-padding-bottom">
        <h1 class="text-uppercase fw-bold" [innerHTML]="'LEGAL_NOTICE.TITLE' | translate"></h1>
        <hr class="opacity-100 hr1"/>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="custom-padding lh-lg text-justify">
        <ol>
          <li [innerHTML]="'LEGAL_NOTICE.P1' | translate"></li>
          <li [innerHTML]="'LEGAL_NOTICE.P2' | translate"></li>
        </ol>
      </div>
    </div>
  </div>
</section>
