<section class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="heading-wrapper">
        <h1 class="text-uppercase fw-bold">Descubre mis vídeos</h1>
        <hr class="opacity-100 hr1" />
        <h2 class="fw-bold">Bachata</h2>
      </div>
    </div>
    <section id="videos" class="container py-5 px-3 px-md-5">
      <div class="row g-4">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/7Jf6YB6-S-I?si=e7busLTVDoQcg5wg" title="Vídeo 1"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/nQlY7Kq-zws?si=7UlyUbHt7qIm417N" title="Vídeo 2"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/BcEHjSrSPbw?si=wCRJgUBGAjQnD0Sc" title="Vídeo 3"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/E1wk5FY8NiU?si=dTe1dd20-V0E0biK" title="Vídeo 4"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/gIxYp0QunbI?si=DGoxSFaebQXD1xst" title="Vídeo 5"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/AjtfBlm4fnY?si=qiy70IoaAd9D9n1C" title="Vídeo 6"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/BlsNeRhIDpY?si=BzDH-CZkJbA-fu3W" title="Vídeo 7"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/MIcB_MW0g44?si=IYRQRaoXIKomThjk" title="Vídeo 8"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen" allowfullscreen></iframe>
          </div>
        </div>

      </div>
    </section>
    <div class="col-lg-6">
      <div class="text-center h2-block">
        <h2 class="fw-bold">Vídeos</h2>
        <hr class="opacity-100 hr2 mx-auto" />
      </div>
      <div class="custom-padding lh-lg text-justify">
        <p>Dani J es consciente de la importancia de lo visual, por eso además de buenas canciones, desde distintas partes del
          mundo, Dani J ha creado una amplia colección de vídeos que te transportarán a través de su música y sus historias.</p>
        <p>¡Prepárate para disfrutar de una experiencia audiovisual única! En la pestaña de vídeos, encontrarás enlaces directos
          al canal de YouTube de Dani J:<a href="https://www.youtube.com/channel/UCynksrdYO2R4REJzNZahjLg" target="_blank">
            <img class="youtube-icon social-icon" src="assets/footer/youtube-icon.png" alt="YouTube">
          </a></p>
        <p>Subscríbete a su canal y podrás disfrutar de una gran variedad de vídeos de alta calidad.</p>
        <p>Además, de todos los videoclips oficiales de Dani J, encontrarás versiones acústicas, detrás de las cámaras, Lyrics
          Video y mucho material que te permitirá conocer más de cerca a Dani y su proceso creativo.</p>
      </div>
    </div>
  </div>
</section>

